.transaction-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    margin: 20px 0;
    gap: 20px;
}
.transaction-card{
    background-color: white;
    padding: 30px 50px;
    border-radius: 20px;
    font-weight: 600;
}
.transaction-card:hover{
    background-color: rgb(246, 242, 242);
    box-shadow: 5px 5px 10px grey;
}
.buy,.sell{
    border-radius: 50%;
    color: white;
    font-size: xx-large;
    padding: 5px 19px;
}
.buy{
    background-color: #1A9FF7;
}
.sell{
    background-color: #FD4590;
}