.tab-title{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.tab-title li{
    list-style: none;
    padding: 4px 15px;
    cursor: pointer;
    color: #AEB8C4 ;
    font-weight: 500;
}
.tab-title li:hover, .tab-title li.active{
    background-color: #AEB8C4;
    border-radius: 25px;
    color: white;
}