@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.home-section{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F6F9;
    width: 450px;
    margin: 0 auto;
    border: 10px solid #b5c1d3;
    border-radius: 50px;
    position: relative;
}
.key{
    width: 10px;
    border: 1px solid #b5c1d3;
    border-radius: 10px;
    background: #b5c1d3;
    position: absolute;
}
.power-btn{
    height: 120px;
    right: -15px;
    top: 180px;
}
.alert-btn{
    height: 50px;
    left: -15px;
    top: 100px;
}
.volume-btn{
    height: 70px;
    left: -15px;
}
.up{
    top: 200px;
}
.down{
    top: 300px;
}