@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.home-section{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F6F9;
    width: 450px;
    margin: 0 auto;
    border: 10px solid #b5c1d3;
    border-radius: 50px;
    position: relative;
}