.nav-section{
    padding: 5px 20px 20px;
    margin: 10px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.notch{
    width: 220px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F3F6F9;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.speaker-grill{
    width:60px;
    height:5px;
    border-radius:20px;
    background-color: #EBEEF4;
}
.noise-cancellation{
    width: 10px;
    height: 10px;
    border: 1px solid #cdcecf;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #EBEEF4;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.app-title{
    font-size: 30px;
    font-weight: 900;
}
.nav-icon{
    font-size: x-large;
    cursor: pointer;
}
.nav-icon:hover{
    color: rgb(255, 94, 1);
}
#cross{
    display: none;
}